language: python
sudo: required
dist: xenial
branches:
  only:
  - master
cache: pip
python:
  - "3.6"
  - "3.7"
install:
  - pip install pipenv
  - pipenv run pip install pip==18.0
  - pipenv install --dev
script:
  - pipenv run lint
  - pipenv run test
