[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = ">=3.0.0"

[dev-packages]
pylint = "*"
twine = ">=1.11.0"
wheel = ">=0.31.0"
setuptools = ">=39.0.1"

[requires]
python_version = "3.6"

[scripts]
build = "python setup.py sdist bdist_wheel"
deploy = "twine upload dist/*"
