[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = ">=3.0.0"
tblib = "*"

[dev-packages]
pylint = "*"
twine = ">=1.11.0"
wheel = ">=0.31.0"
setuptools = ">=39.0.1"
tox = ">=3.0.0"
"flake8" = ">=0.6.1"
tox-pyenv = ">=1.1.0"
invoke = ">=0.23.0"
tox-travis = "*"
importlib_resources = "*"

[requires]
python_version = "3.7"

[scripts]
test = "invoke test"
lint = "invoke lint"
build = "invoke build"
release = "invoke release"
